node_modules/
postgres_data/
.env

bin/
obj/
Debug/
Release/

.vscode/
.vs/

*.log
*.tmp
*.tlog
*.lastbuildstate
*.pdb

frontend/packages/
frontend/project.lock.json

backend/node_modules/
backend/package-lock.json

backend/.env
frontend/.env

docker-compose.override.yml